body{
    background-image: url("Imagens/fundo.png");
        background-size: cover;
        background-repeat: repeat-y; 
        background-size: 100% auto;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
}
    